<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Alumni Tracker</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="css/styles.css">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- send <%=Name%> on every page -->
  <a class="navbar-brand" href="/myProfile", id= "Name"><%=Name%></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="/secrets">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0" href="/search">
      <input class="form-control form-control-sm" id="searchName" type="search" placeholder="Search" aria-label="Search" style="margin-right: 1px">
      <i class="fas fa-search " aria-hidden="true" style="margin-right: 10px"></i>
      <a class="btn btn-secondary btn-sm" href="/logout" role="button" style="margin-right: 5px">Log Out</a>
    </form>

  </div>
</nav>


  <script>
    var selected = "check";
    $(function(){
      $("#searchName").autocomplete({
        source: function(req, res){
          $.ajax({
            url:"/autocomplete",
            dataType:"jsonp",
            type:"GET",
            data:req,
            success: function(data){
              res(data);
            },
            error: function(err){
              console.log(err.status);
            }
          });
        },
        minLength: 1,
        select: function(event, ui){
          if(ui.item){
            selected = ui.item;
            sessionStorage.setItem("selected", JSON.stringify(selected));
            $("#searchName").text(ui.item.label);
            location.href = "/person";
          }
        }
      });
    });
  </script>

</head>

<body>
